.loader {
  border-color: currentColor currentColor transparent transparent;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  border: 5px solid;
  border-radius: 50%;
  box-sizing: border-box;
}

.loader::after {
  width: 40px;
  height: 40px;
  border-color: transparent transparent #ff3d00 #ff3d00;
  animation: rotationBack 0.5s linear infinite;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: currentColor currentColor transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
